{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
  <div class="categories_list">
		
    {% for object in object_list %}
      <div class="category_record">
        <div class="category_name">
          Заказ №{{ object.pk}}<br>
          Пользователь {{ object.user.username }}<br>
          Сумма {{ object.get_total_cost }} руб.<br>
          Статус {{ object.get_status_display }}
        </div>
        <div class="category_actions">
          <button>
            <a href={% url 'admin:order_status_change' object.pk %} >
              {% if object.status == 'FM' %}
                отправить в обработку
              {% endif %}
              {% if object.status == 'STP' %}
                обработать
              {% endif %}
              {% if object.status == 'PRD' %}
                оплачен
              {% endif %}
              {% if object.status == 'PD' %}
                готов к выдаче
              {% endif %}
            </a>
          </button>
        </div>
        <div class="category_desc">
          {{ object.description|title }}
        </div>
      </div>
    {% endfor%}
  </div>
{% endblock %}