[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/html/django/historical_games_shop
ExecStart=/var/www/html/django/django2/bin/gunicorn --access-logfile - --workers 3 --bind unix:/var/www/html/django/historical_games_shop/myshop.sock historical_games_shop.wsgi

[Install]
WantedBy=multi-user.target
