{% extends 'authapp/base.html' %}

{% block content %}
    <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        <input name="next" value="{{ next }}" type="hidden" >
        {{ login_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="Вход">
    </form>
    <button class="btn btn-round form-control">
        <a href="{% url 'auth:register' %}" class="">
            Зарегистрироваться
        </a>
    </button>
    <button class="btn btn-round form-control">
        <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/">
            Вход через VK
        </a>
    </button>

{% endblock %}