{% extends 'mainapp/base.html' %}
{% load static %}

{% block header %}
    <div class="header-front">
        {% include 'mainapp/includes/inc_header.html' %}
        {% include 'mainapp/includes/inc_main_menu.html' %}

        <div class="slogan">Nunc eget nibh</div>
        <h1>Morbi in nisl auctor</h1>
        <ul class="social">
            <li><a class="fb" href="#"></a></li>
            <li><a class="tw" href="#"></a></li>
            <li><a class="rss" href="#"></a></li>
            <li><a class="vk" href="#"></a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="about" id="about">
        <div class="container">
            <img src="{% static 'img/about.jpg' %}" alt="">
            <h2>About Us!</h2>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                dolores
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci velit. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>

            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
                illum
                qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
    </div>
    <div class="services" id="services">
        <h2>Services</h2>
        <div class="service-list container">
            <div class="service-item">
                <a href="{{services.0.link}}"></a>
                <div class="service-item-title"><a href="{{services.0.link}}">{{services.0.name}}</a></div>
                <div class="service-item-text">{{services.0.description}}</div>
            </div>
            <div class="service-item">
                <a href="{{services.1.link}}"></a>
                <div class="service-item-title"><a href="{{services.1.link}}">{{services.1.name}}</a></div>
                <div class="service-item-text">{{services.1.description}}</div>
            </div>
            <div class="service-item">
                <a href="{{services.2.link}}"></a>
                <div class="service-item-title"><a href="{{services.2.link}}">{{services.2.name}}</a></div>
                <div class="service-item-text">{{services.2.description}}</div>
            </div>
            <div class="service-item">
                <a href="{{services.3.link}}"></a>
                <div class="service-item-title"><a href="{{services.3.link}}">{{services.3.name}}</a></div>
                <div class="service-item-text">{{services.3.description}}</div>
            </div>
            <div class="service-item">
                <a href="{{services.4.link}}"></a>
                <div class="service-item-title"><a href="{{services.4.link}}">{{services.4.name}}</a></div>
                <div class="service-item-text">{{services.4.description}}</div>
            </div>
            <div class="service-item">
                <a href="{{services.5.link}}"></a>
                <div class="service-item-title"><a href="{{services.5.link}}">{{services.5.name}}</a></div>
                <div class="service-item-text">{{services.5.description}}</div>
            </div>
        </div>
    </div>

    <div class="gallery" id="gallery">
        <h2>Our Gallery</h2>

        <div class="links clearfix">
            {% include 'mainapp/includes/inc_categories_menu.html' %}
        </div>
        <div class="gallery-list container">
            {% for product in products %}
                <div class="gallery-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
                    <div class="gallery-item-title">{{ product.name }}</div>
                    <a class="btn" href="{% url 'products:product' product.pk %}">Buy</a>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="slider">
        <div class="container">
            <h2>Testimonial</h2>
            <p>Donec feugiat tellus sem, laoreet iaculis orci lobortis vel. Sed sed luctus orci, at lacinia risus. Ut
                porttitor ante ac tincidunt elementum. Curabitur ex dolor, condimentum vitae nunc vel, pulvinar semper
                justo. Vestibulum et aliquet magna, maximus dapibus enim. Vestibulum ex lectus, posuere eu viverra at,
                mattis et enim. Nam efficitur sem et lectus fringilla, at pharetra nulla luctus. Nunc cursus, augue ac
                ultricies volutpat, neque erat congue justo, ac pretium tellus eros a neque. Integer ipsum sem,
                consectetur a mollis ac, cursus eu ipsum.
            <p>
            <p class="author"><span>JOHN SMITH</span> - FOUNDER</p>
            <div class="nav">
                <div class="prev"></div>
                <div class="next"></div>
            </div>
        </div>
    </div>
    <div class="news" id="news">
        <div class="container clearfix">
            <h2>News & Events</h2>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h3>Latest News</h3>
                    <div class="news-item clearfix">
                        <div class="date">
                            <span class="day">20</span><br>June<br><span class="year">2019</span>
                        </div>
                        <div class="news-title">Fugiat Quo Voluptas</div>
                        <div class="news-text">Quis autem vel eum iure reprehenderit qui in ea voluptate
                            velit esse.
                        </div>
                    </div>
                    <div class="news-item clearfix">
                        <div class="date">
                            <span class="day">17</span><br>June<br><span class="year">2019</span>
                        </div>
                        <div class="news-title">FugQui In Ea Voluptate</div>
                        <div class="news-text">Quis autem vel eum iure reprehenderit qui in ea voluptate
                            velit esse.
                        </div>
                    </div>
                    <div class="news-item clearfix">
                        <div class="date">
                            <span class="day">15</span><br>June<br><span class="year">2019</span>
                        </div>
                        <div class="news-title">FugQui In Ea Voluptate</div>
                        <div class="news-text">Quis autem vel eum iure reprehenderit qui in ea voluptate
                            velit esse.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h3>Featured Events
                        <a class="events-more" href="#">&lt; &gt;</a>
                    </h3>
                    <div class="news-images">
                        <img src="{% static 'img/news1.jpg' %}" alt="">
                        <img src="{% static 'img/news1.jpg' %}" alt="">
                        <img src="{% static 'img/news1.jpg' %}" alt="">
                    </div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation">
                            <a href="#" role="tab" data-toggle="tab" class="active">Assumenda Est
                                Cliche Reprehenderit</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book.</p>
                        </li>
                        <li role="presentation">
                            <a href="#" role="tab" data-toggle="tab">Assumenda Est Cliche
                                Reprehenderit</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book.</p>
                        </li>
                        <li role="presentation">
                            <a href="#" role="tab" data-toggle="tab">Assumenda Est Cliche
                                Reprehenderit</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book.</p>
                        </li>
                        <li role="presentation">
                            <a href="#" role="tab" data-toggle="tab">Assumenda Est Cliche
                                Reprehenderit</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="team" id="team">
        <h2>Our Team</h2>
        <div class="container">
            <div class="row">
                <div class="team-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="{% static 'img/team1.jpg' %}" alt="">
                    <div class="team-item-title">Mary Jane</div>
                    <div class="team-item-text">Vestibulum</div>
                    <ul class="social">
                        <li><a class="fb" href="#"></a></li>
                        <li><a class="tw" href="#"></a></li>
                        <li><a class="rss" href="#"></a></li>
                        <li><a class="vk" href="#"></a></li>
                    </ul>
                </div>
                <div class="team-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="{% static 'img/team2.jpg' %}" alt="">
                    <div class="team-item-title">Peter Parkere</div>
                    <div class="team-item-text">Ves tibulum</div>
                    <ul class="social">
                        <li><a class="fb" href="#"></a></li>
                        <li><a class="tw" href="#"></a></li>
                        <li><a class="rss" href="#"></a></li>
                        <li><a class="vk" href="#"></a></li>
                    </ul>
                </div>
                <div class="team-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="{% static 'img/team3.jpg' %}" alt="">
                    <div class="team-item-title">John Watson</div>
                    <div class="team-item-text">Vestibulum</div>
                    <ul class="social">
                        <li><a class="fb" href="#"></a></li>
                        <li><a class="tw" href="#"></a></li>
                        <li><a class="rss" href="#"></a></li>
                        <li><a class="vk" href="#"></a></li>
                    </ul>
                </div>
                <div class="team-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="{% static 'img/team4.jpg' %}" alt="">
                    <div class="team-item-title">Steven Wilson</div>
                    <div class="team-item-text">Ves tibulum</div>
                    <ul class="social">
                        <li><a class="fb" href="#"></a></li>
                        <li><a class="tw" href="#"></a></li>
                        <li><a class="rss" href="#"></a></li>
                        <li><a class="vk" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="subscribe" id="conract">
        <div class="container">
            <h2>Subscribe with Us</h2>
            <form action="#">
                <input type="text" placeholder="Email">
                <input type="submit" value="Subscribe" class="btn">
            </form>
        </div>
    </div>

    {% include 'mainapp/includes/inc_contact.html' %}
    {% include 'mainapp/includes/inc_map.html' %}
{% endblock %}