{% extends 'mainapp/base.html' %}
{% load static %}

{% block header %}
    <div class="header-page">
        {% include 'mainapp/includes/inc_header.html' %}
        {% include 'mainapp/includes/inc_main_menu.html' %}
    </div>
{% endblock %}
{% block content %}
    <div class="product-main">
        <div class="container clearfix">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
                    <!--<div class="prod-thumbs">
                        <a class="active" href="#"><img src="img/product-thumb1.jpg" alt=""></a>
                        <a href="#"><img src="img/product-thumb2.jpg" alt=""></a>
                        <a href="#"><img src="img/product-thumb3.jpg" alt=""></a>
                        <a href="#"><img src="img/product-thumb4.jpg" alt=""></a>
                    </div> -->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h1>{{ product.name }}</h1>
                    <div class="product-price">${{ product.price }}</div>
                    <a class="btn" href="{% url 'products:product' product.pk %}">Buy</a>
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery">
        <h2>Similar games</h2>
        <div class="gallery-list container">
            <div class="row">
                {% for similar_product in same_products %}
                    <div class="gallery-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <img src="/media/{{ similar_product.image }}" alt="">
                        <div class="gallery-item-title">
                            <a href="{% url 'products:product' similar_product.pk %}">{{ similar_product.name }}</a>
                        </div>
                        <a class="btn" href="{% url 'products:product' similar_product.pk %}">Buy</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'mainapp/includes/inc_contact.html' %}
    {% include 'mainapp/includes/inc_map.html' %}
{% endblock %}