{% extends 'mainapp/base.html' %}
{% load static %}

{% block header %}
    <div class="header-page">
        {% include 'mainapp/includes/inc_header.html' %}
        {% include 'mainapp/includes/inc_main_menu.html' %}
    </div>
{% endblock %}
{% block content %}
    <div class="links clearfix">
        {% include 'mainapp/includes/inc_categories_menu.html' %}
    </div>
    <div class="gallery">

        <h2>{{ category.name|title }}</h2>
        <div class="paginator">
          {% if products.has_previous %}
            <a href="{% url 'products:page' category.pk products.previous_page_number %}">
              <
            </a>
          {% endif %}
          <span class="current">
            {% with ''|center:products.paginator.num_pages as range %}
              {% for _ in range %}
                {% if forloop.counter == products.number %}
                  <p>{{ forloop.counter }}</p>
                {% else %}
                  <a href="{% url 'products:page' category.pk forloop.counter %}">{{ forloop.counter }}</a>
                {% endif %}
              {% endfor %}
            {% endwith %}
            страница {{ products.number }} из
            {{ products.paginator.num_pages }}
          </span>
          {% if products.has_next %}
            <a href="{% url 'products:page' category.pk products.next_page_number %}">
              >
            </a>
          {% endif %}
        </div>

        <div class="gallery-list container">
            <div class="row">
                {% for product in products %}
                    <div class="gallery-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <img src="/media/{{ product.image }}" alt="">
                        <div class="gallery-item-title"><a href="{% url 'products:product' product.pk %}">{{ product.name }}</a></div>
                        <p>{{ product.description }}</p>
                        <a class="btn" href="{% url 'basket:add' product.pk %}">Buy</a>
                     </div>
                {% endfor %}
            </div>
            <a href="/catalog/" class="gallery-more">Show more games</a>
        </div>
    </div>

    <div class="products">
        <div class="container clearfix">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>discount</p>
                    <div class="product-title">CALL OF DUTY:<br><span>Modern Warfare 3</span></div>
                    <div class="product-price">$14.44 <span>/ <span class="line-through">$28.50</span></span></div>
                    <a class="btn" href="#">Buy</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>discount</p>
                    <div class="product-title">MEDAL OF HONOR</div>
                    <div class="product-price">$15.96 <span>/ <span class="line-through">$29.99</span></span></div>
                    <a class="btn" href="#">Buy</a>
                </div>
            </div>
        </div>
    </div>


    {% include 'mainapp/includes/inc_contact.html' %}
    {% include 'mainapp/includes/inc_map.html' %}
{% endblock %}
