<div class="contact">
    <div class="container clearfix">
        <h2>Contact Us</h2>
        <div class="w50">
            <h3>Get in touch with us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets
                containing Lorem Ipsum passages sed do, At vero eos et accusamus et
                iusto odio digs qui blanditiis</p>
            <p>{{contacts.address}}<br>{{contacts.address_line2}}</p>
            <p>Telephone : {{contacts.phone}}</p>
            <p>FAX : {{contacts.fax}}</p>
            <p>Email : <a href="mailto:{{contacts.email}}">{{contacts.email}}</a></p>
        </div>
        <div class="w50">
            <form action="#">
                <input type="text" placeholder="Name"><br>
                <input class="email" type="text" placeholder="Email"><br>
                <textarea placeholder="Message"></textarea><br>
                <input class="btn" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>