<div class="header">
    <div class="header-back"></div>
    <div class="container">
        <a href="{% url 'main' %}" class="logo">Historical<br><span>Games</span></a>
        <a href="tel:+1234567890" class="phone">+123 456 7890</a>
        <a href="mailto:info@example.com" class="email">info@example.com</a>
        <div class="search">
            <form action="#">
                <input type="text" placeholder="Search">
                <input type="submit">
            </form>
        </div>
    </div>
</div>